@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Total no of views</h1>
    <h1 id="totalViewsCounter"></h1>
    <h1>Total no of users</h1>
    <h1 id="totalUserCount" </h1>
</div>


<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>